[Unit]
Description=zookeeper

[Service]
Type=simple
EnvironmentFile=/etc/environment
Environment="TAG=3.4.5"
Environment="ENV=test"
ExecStartPre=-/usr/bin/docker pull emmanuel/zookeeper:${TAG}
ExecStart=/usr/bin/docker run --rm \
                              --name zookeeper \
                              --env ZK_SERVER_NUMBER=%i \
                              --hostname zookeeper-%i.${ENV}.cluster.local \
                              --dns-search ${ENV}.cluster.local \
                              --publish 2181 \
                              --publish 2888 \
                              --publish 3888 \
                              emmanuel/zookeeper:${TAG}

ExecStop=/usr/bin/docker stop zookeeper

[X-Fleet]
X-Conflicts=zookeeper@*.service
